body{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.simple-form{
    text-align: center;
    margin:100px 400px;
}
#registration{
    width:100%;
    background-color: #051019;
    opacity:0.8;
    padding:40px 0px;
}
#button{
    padding:10px;
    border-radius: 5px;
    width:250px;
}
#submit{
    padding:10px;
    border-radius: 5px;
    width:250px;
    background-color: #0c6996;
    border:2px solid #01010c;
    color:white;
    font-size:18px;
}
.text{
    color:white;
    font-size: 30px;
}