body {
  margin: 0;
  padding: 0;
}
.user_details {
  margin: 50px auto;
  padding: 20px;
}
.user_profile_pic {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}
.user_profile_div {
  padding: 20px;
  background-color: cadetblue;
}
.login_container {
  margin: 15vh auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px 0 #000;
}
table {
  width: 100%;
  border-collapse: collapse;
  font-family: arial, sans-serif;
}
td,
th {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}
tr:nth-child(even) {
  background-color: #ddd;
}
.status {
  margin-top: 20px;
  margin-bottom: 40px;
}
.upload {
  margin: auto;
  padding: 10px;
  border: 1px solid;
  box-shadow: 5px 10px 18px #888;
}
/* .container{
    margin-top: 10%;
} */
.userdetail_card .table_card {
  float: none;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 10px 10px 5px grey;
}
.user_home_body_display {
  display: flex;
  flex-basis: 100%;
  max-width: 1200px;
  margin: auto;
}
​
.user_csvfile_table_view {
  box-shadow: 0 5px 5px grey;
}
​
.admin_msg_container,
.user_msg_container {
  width: 50%;
  margin: 10px 0;
  padding: 10px;
  border: 2px solid #dedede;
  border-radius: 5px;
  background-color: #f1f1f1;
}
​
.user_msg_container {
  margin-left: 50%;
  border: 2px solid #ccc;
  background-color: #ddd;
}
​
.user_reply_box {
  margin-left: 50%;
}
.formCard {
  float: none; /* Added */
  margin: 50px auto; /* Added */
  padding: 20px;
  box-shadow: 10px 10px 5px grey;
}
.errorMsg {
  text-align: center;
  color: red;
}
.textRed {
  color: red;
  font-size: 12px;
}
.textGreen {
  color: green;
  font-size: 12px;
}
