body {
    padding: 0;
    margin: 0;
}
.user_details
{
    padding: 20px;
    margin: 50px auto;
}
.user_profile_pic
{
    border-radius: 100%;
    height: 150px;
    width: 150px;
}
.user_profile_div{
    padding: 20px;
    background-color: cadetblue;
}
.login_container{
    background: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px #000;
    margin: 15vh auto;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
.status{
    margin-top: 20px;
    margin-bottom: 40px;
}
.upload{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
    margin:auto;
}
/* .container{
    margin-top: 10%;
} */
.userdetail_card .table_card {
    margin: 50px auto;
    float: none;
    padding: 20px;
    box-shadow: 10px 10px 5px grey;
}

.user_home_body_display{
    display: flex;
    flex-basis: 100%;
    max-width: 1200px;
    margin: auto;
}
​
.user_csvfile_table_view{
    box-shadow: 0px 5px 5px grey;
}
​
.admin_msg_container, .user_msg_container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width:50%;
}
​
.user_msg_container{
    border: 2px solid #ccc;
    background-color: #ddd;
    margin-left: 50%;
}
​
.user_reply_box{
    margin-left: 50%;
}

.formcard {
    margin: 50px auto; /* Added */
    float: none; /* Added */
    padding: 20px;
    box-shadow: 10px 10px 5px grey;
}
